body {
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    border: 5px solid blue;
}

.logo {
    font-size: 36px;
    margin: 0;
}

.navigation {
    display: flex;
    justify-content: flex-end;
}

.menu {
    list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
}

.menu-item {
    margin: 0 10px;
}

.menu-item a {
    text-decoration: none;
        color: #fff;
        font-size: 18px;
}

.dropdown{
    position: relative;
}


/* hamburger */
.mobile-menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    background-color: #fff;
    height: 3px;
    width: 25px;
    margin: 3px auto;
}
/* hamburger */

.landing {
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    height: 100vh;
    background-image: url('./images/background.jpg');

    background-size: cover;

    background-position: right;

}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 10px;
    width: 50%;
    color: white;
  
}

.section-title-landing {
    font-size: 100px;
   
    margin-bottom: 20px;
}

.workout-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* partners */


.partners {
    margin-top: 0px;
    background-color: whitesmoke;
    padding: 60px 0;
}

.partner-logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.partner-logos img {
    max-width: 100%;
    height: auto;
    margin: 20px;
}

@media (max-width: 768px) {
    .partners {
        display: none;
    }
    .plan-grid{
        display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
    }
}
/* end of partners */

.plan-grid {
    display: flex;
    justify-content: center;
        gap: 10px;
        overflow: auto;
        margin-bottom: 10px;
}

.plan {
    flex: 0 0 auto;
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 10px;
        min-width: 250px;
       
}

.plan h3 {
    font-size: 24px;
}

.plan p {
    margin: 10px 0;
}

.plan span {
    font-size: 18px;
    font-weight: bold;
}

.famous-clients .client-slider {
    width: 100%;
    overflow: hidden;
}

.famous-clients .client-logos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    /* Prevent wrapping */
    transition: transform 0.3s ease;
    /* transition for smooth slide */
}

.famous-clients .client {
    position: relative;
    margin-right: 20px;
}

.famous-clients .client img {
    max-width: 100%;
    height: auto;
    margin: 20px;
}


.overlay-clients {
    position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}

.client-title,
.client-description {
    color: #fff;
    font-size: 18px;
    margin: 10px 0;
    text-align: center;
}

.famous-clients .client:hover .overlay-clients {
    opacity: 1;
}


.text {
    color: #fff;
    font-size: 18px;
}

@media (max-width: 768px) {
    .famous-clients .client {
        margin-right: 10px;
    }
    .client{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
.main {
    padding: 40px 0;
}

.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    margin-bottom: 20px;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 10px;
}

.plan {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.contact-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.form-input {
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.btn {
    padding: 15px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}



/* dropdwon menus */

.dropdown .dropdown-toggle::after {
    content: '\25BC';
    font-size: 12px;
    margin-left: 5px;
}

.dropdown-menu {
        position: absolute;
        background-color: #fff;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        list-style-type: none;
        padding: 0;
        margin: 0;
        border-radius: 0 0 10px 10px;
}

.dropdown-menu li {
    padding: 10px 20px;
    cursor: pointer;
}

.dropdown:hover .dropdown-menu {
    display: block;
        width: 100%;
        left: 0;
}

.dropdown .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-radius: 0 0 10px 10px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    width: 100%;
    left: 0;
}


@media (max-width: 768px) {
    .plan {
        width: 100%;;
    }
}

/* login */
.login {
    display: flex ;
    align-items: center;
    background-color: #fff;
    /* padding: 60px 0; */
}

.login-form {
    max-width: 300px;
    margin: 0 auto;
}

.login-form .form-group {
    margin-bottom: 20px;
}

.login-form .form-input {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-form .btn {
    padding: 15px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}


/* register */

/* transition item */
.transition-item {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}



/* media query */
/* Add the following media query to handle small screens */
@media (max-width: 768px) {
    .logo {
        font-size: 24px;
        /* Decrease the font size for the logo */
    }

    .menu {
        justify-content: center;
        /* Center the menu items */
        flex-wrap: wrap;
    }

    .menu-item {
        margin: 10px 0;

    }

    .landing .overlay {
        width: 100%;
        /* Make the overlay full width */
        text-align: center;
        padding: 20px;
       
    }

    .section-title-landing {
        font-size: 60px;

    }

    .partners .section-title {
        font-size: 36px;

    }

    .partner-logos img {
        width: 80%;
        margin: 10px 0;
    }

    .plan {
        min-width: unset;
    }

    .plan h3 {
        font-size: 20px;
    }

    .plan p {
        font-size: 16px;
    }

    .plan span {
        font-size: 16px;
    }

    .famous-clients .client-logos {
        justify-content: center;
    }

    .famous-clients .client {
        margin-right: 10px;
    }

    .client-img {
        width: 100%;
        
    }

    .overlay-clients {
        text-align: center;
    }

    .client-title,
    .client-description {
        font-size: 16px;
    }

    .login-form .form-input {
        width: calc(100% - 30px);
    }
}


/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .landing {
        flex-direction: column;
        text-align: center;
        height: auto;
        background-position: center;
    }

    .overlay {
        width: 100%;
    }

    .section-title-landing {
        font-size: 50px;
    }

    .plan {
        width: 100%;
        min-width: unset;
    }

    .partner-logos {
        justify-content: center;
    }

    .partner-logos .partner {
        margin: 10px;
        text-align: center;
    }

    .partner-logos img {
        max-width: 100%;
        height: auto;
    }

    .famous-clients .client-logos .client {
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
    }
}


/* hamburger */
@media (max-width: 768px) {
    .mobile-menu-toggle {
        display: flex;
    }

    .navigation {
        display: none;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
    }

    .navigation.open {
        display: flex;
    }

    .menu {
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
    }

    .menu-item {
        margin: 10px 0;
    }
}

/* hamburger */